.jumbotron{
	width: 800px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	border-radius: 5px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control, .select2-search input[type="text"][disabled], .select2-search input[type="text"][readonly], fieldset[disabled] .select2-search input[type="text"] {
    background-color: #f4f6f6;
    border-color: #d5dbdb;
    color: black;
    cursor: default;
    opacity: 0.7;
}